<%- include('partials/header'); -%>
<br>
<div class="jumbotron">
  <h1>Deleted successfully!</h1>
  <p>The post was deleted. You can write another one now!</p>
  <form action="/gohome" method="post">
    <button type="submit" name="homepage" value="" class="btn btn-success">Homepage</button>
  </form>
</div>

<%- include('partials/footer'); -%>
