<%- include('partials/header'); -%>

<h1><%= title %></h1>
<p><%= content %></p>
<br>
<form action="/delete" method="post">
  <button type="submit" name="button" value="" class="btn btn-danger">Delete post</button>
</form>

<%- include('partials/footer'); -%>
