<%- include('partials/header'); -%>
<h1>Write something!</h1>
<form action="/write" method="post">
    <div class="form-group">
        <label>Title</label>
        <input type="text" name="postTitle" class="form-control" placeholder="The title of post">
        <label>Post</label>
        <textarea name="postBody" class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" name="button" class="btn btn-primary">Publish</button>
</form>

<%- include('partials/footer'); -%>
